.feature-container{
    width: 100%;
    /* height: 75vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
    align-items: center;
    padding: 0 50px 0 50px;
}
.feature-image img {
    width: 100%; 
    height: 100%; 
    /* padding: 20px; */
}
.feature-cards{
    display: flex;
    flex-direction: column;
   
}
.card{
    padding: 10px;
}

.card h2{
    font-size: 25px;
}

.card p{
    font-size: 15px;
}
