
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  .form-box {
    width: 600px;
    padding: 20px;
    border: 1px solid #C4C4C4;

  }

  .input-field {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 4%;
    border: 1px solid #C4C4C4;
    outline: none;
  }
  
  .input-field:last-child {
    margin-right: 0;
  }

  h2{
    padding: 50px 0 50px 0;
  }
  

  .error-text {
    color: red;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .register-button {
    width: 48%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0;
  }

  .full-width-input {
    width: 100%;
  }
  
  
  